body {
    font-family: Arial, sans-serif;
}

.FLogin {
    margin-top: 20px;
    padding: 10px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    width: fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.FLogin a {
    color: #721c24;
    font-weight: bold;
    text-decoration: none;
}

.FLogin a:hover {
    text-decoration: underline;
}
